<%- include('header') %>
<p><%= text%></p>
<% userData.forEach(e => { %>
<div class="">
  <h1><%= e.title %></h1>
  <p><%= e.content.slice(0,100) %></p>
  <% if (e.content.length > 100) { %>
  ......<a href="/post/<%= e.id %>">Read More</a>
</div>
<% } %>
<% }); %>
<%- include('footer') %>
