<%- include('header') %>
<p><%= text%></p>
<% userData.forEach(e => { %>
<div class="">
  <h1><%= e.title %></h1>
  <p class="text-wrap"><%= e.content %></p>
</div>
<% }); %>
<%- include('footer') %>
